<!DOCTYPE html>

<html>
 
<head>
  <meta charset="UTF-8">
  <title>Block</title>
  
      <link rel="stylesheet" href="./static/style.css"> 
</head>
<body>

<header>
  <top>
      <a href="http://localhost:5000/index" >
      <img src="./static/banner.jpg" alt="Page title">
      </a>
  </top>
  
</header>

<dataexplain>
    <left>
        
    </left>
    <right>
        <about>
      Depression Anxiety Stress Scales (DASS) responses from kaggle, which contains individuals’ responses to 42 DASS questions, to 10 Personality Inventory responses,
      and demographic data such as education, age, and gender, this site provides DASS responses summary to viewers.
      The summary is two visualizations, dass response histogram and average score of Personality Inventory responses.
        </about>
      <a href="http://localhost:5000/index">
          <more>return homepage </more>
      </a>          
    </right>
</dataexplain>
 
<main>
  <block_m></block_m>
  <block>

      <img src="./static/about.jpg" alt="about">

  </block>
  <block_m></block_m>
  <block>

      <img src="./static/aboutdata.jpg" alt="about">

  </block>

</main>
 
</body>
</html>