<!DOCTYPE html>

<html>
 
<head>
  <meta charset="UTF-8">
  <title>Block</title>
  
      <link rel="stylesheet" href="./static/style.css"> 
</head>
<body>

<header>
  <top>
      <a href="http://localhost:5000/index" >
      <img src="./static/banner.jpg" alt="Page title">
      </a>
  </top>
  
</header>

<banner>
  <left>
  </left>
  <right>
      <img src="./static/dass.jpg" alt="visualization title">
  </right>
  
</banner>
 
<main>
  <block_m></block_m>
  <left>
      <img src="./static/{{fname}}" alt="data" >
  </left>
    
  <block_m></block_m>  
    
<right>
<div-s>
      
    <p>Gender</p>

</div-s>
<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'All')">All</button>
  <button class="tablinks" onclick="openCity(event, 'Male')">Male</button>
  <button class="tablinks" onclick="openCity(event, 'Female')">Female</button>
</div>

<!-- Tab content -->
<div id="All" class="tabcontent">

</div>

<div id="Male" class="tabcontent">

</div>

<div id="Female" class="tabcontent">
    
</div>

<form action="http://localhost:5000/dassaction" method="post">
    
<div>
    <p>Race</p>
</div>
      
<div>
<select id="Race" name="Race">
  <option>select</option>  
  <option>Asian</option>
  <option>Arab</option>
  <option>Black</option>
  <option>Indigenous Australian</option>
  <option>Native American</option>
  <option>White</option>    
</select>
</div>
    
<div>
    <p>Age</p>
</div>
      
<div>
  from
<select id="Age_min" name="Age_min">
  <option>select</option>
  <option>10</option>
  <option>20</option>
  <option>30</option>
  <option>40</option>
</select>
 to 
<select id="Age_max" name="Age_max">
  <option>select</option>  
  <option>20</option>
  <option>30</option>
  <option>40</option>
  <option>50</option>     
</select>
</div>

<div align="right"> 
    <input type="submit" value="Visualization" > 
</div>
    
   <input type= "hidden" id='Gender' name="Gender"/> 
   <input type= "hidden" id='Viewtype' name="Viewtype" value="{{dass_type}}"/>  
    
</form>
    
</right>

</main>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  var inputF = document.getElementById("Gender");  
    
  inputF.value = cityName;
    
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  <!-- document.getElementById(cityName).style.display = "block"; -->
  evt.currentTarget.className += " active";
}
</script>
    
</body>
</html>