<!DOCTYPE html>

<html>
 
<head>
  <meta charset="UTF-8">
  <title>Block</title>
  
      <link rel="stylesheet" href="./static/style.css"> 
</head>
<body>

<header>
  <top>
      <img src="./static/banner.jpg" alt="Page title">
  </top>
  
</header>
    
<banner>
  <left>
  </left>
  <right>
      <img src="./static/dass.jpg" alt="dass title">
  </right>
  
</banner>


 
<main>
  <block_m> </block_m>
  <right>
      <a href="http://localhost:5000/visualization/DS" >
      <img src="./static/DS.jpg" alt="depression vs anxiety" width="85%" height="85%">
      </a>

  </right>
  <block_m></block_m>  
  <right>
      <a href="http://localhost:5000/visualization/AD" >
      <img src="./static/AD.jpg" alt="depression vs anxiety" width="85%" height="85%">
      </a>

  </right>
  <block_m></block_m>  
  <right>
      <a href="http://localhost:5000/visualization/AS" >
      <img src="./static/AS.jpg" alt="Anxiety vs Stress" width="85%" height="85%">
      </a>

  </right>    

</main>
 
</body>
</html>