<!DOCTYPE html>

<html>
 
<head>
  <meta charset="UTF-8">
  <title>Block</title>
  
      <link rel="stylesheet" href="./static/style.css"> 
</head>
<body>

<header>
  <top>
      <img src="./static/banner.jpg" alt="Page title">
  </top>
  
</header>

<explain>
    <left>
        
    </left>
    <right>
        <text>
      We provide summary and visualizations of Depression Anxiety Stress Scales (DASS) rrsponses. This data (39,775 responsed) was collected 2017 - 2019.
        </text>
    </right>
</explain>
 
<main>
  <block_m></block_m>
  <block>
      <a href="http://localhost:5000/dass">
      <img src="./static/index_left.jpg" alt="dass">
      </a>
  </block>
  <block_m></block_m>
  <block>
      <a href="http://localhost:5000/visualization">
      <img src="./static/index_right.jpg" alt="dass">
      </a>
  </block>

</main>
 
</body>
</html>