<!DOCTYPE html>

<html>
 
<head>
  <meta charset="UTF-8">
  <title>Block</title>
  
      <link rel="stylesheet" href="./static/style.css"> 
</head>
<body>

<header>
  <top>
      <a href="http://localhost:5000/index" >
      <img src="./static/banner.jpg" alt="Page title">
      </a>
  </top>
  
</header>

<banner>
  <left>
  </left>
  <right>
      <img src="./static/big5.jpg" alt="visualization title">
  </right>
  
</banner>
 
<main>
  <block_m></block_m>
  <left>
      <img src="./static/{{fname}}" alt="data" >
  </left>
    
  <block_m></block_m>  
    
<right>
<div-s>
      
    <p>Gender</p>

</div-s>
<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'All')">All</button>
  <button class="tablinks" onclick="openCity(event, 'Male')">Male</button>
  <button class="tablinks" onclick="openCity(event, 'Female')">Female</button>
  <button class="tablinks" onclick="openCity(event, 'Male vs Female')">Male vs Female</button>  
</div>

<!-- Tab content -->
<div id="All" class="tabcontent">

</div>

<div id="Male" class="tabcontent">

</div>

<div id="Female" class="tabcontent">

</div>
      
<div id="Male vs Female" class="tabcontent">

</div>
         
<form action="http://localhost:5000/action" method="post">
<div>
    <p>Race</p>
</div>
      
<div>
<select id="Race" name="Race">
  <option>select</option>  
  <option>Asian</option>
  <option>Arab</option>
  <option>Black</option>
  <option>Indigenous Australian</option>
  <option>Native American</option>
  <option>White</option>    
</select>
</div>
    
<div>
    <p>Age</p>
</div>
      
<div>
  from
<select id="Age_min" name="Age_min">
  <option> --- </option>  
  <option>20</option>
  <option>30</option>
  <option>40</option>
  <option>50</option>
  <option>60</option>
  <option>70</option>    
  <option>70</option>        
</select>
 to 
<select id="Age_max" name="Age_max">
  <option> --- </option>  
  <option>20</option>
  <option>30</option>
  <option>40</option>
  <option>50</option>
  <option>60</option>
  <option>70</option>    
  <option>70</option>     
</select>
</div>

<div>
    <p>DASS Depression (between 0 and 56): <span id="Depression_Score"></span></p>
</div>    
<div>
  <input type="range" id="Depression" name="Depression" min="0" max="56" value="0">
</div>
<div>
    <p>DASS Anxiety (between 0 and 56): <span id="Anxiety_Score"></span></p>
</div>
<div>
  <input type="range" id="Anxiety" name="Anxiety" min="0" max="56" value="0"> 
</div>
<div>
    <p>DASS Stress (between 0 and 56): <span id="Stress_Score"></span></p>
</div>
<div>
   <input type="range" id="Stress" name="Stress" min="0" max="56" value="0">
</div>    
    
    
<div align="right"> 
    <input type="submit" value="Visualization" > 
</div>
    
   <input type= "hidden" id='Gender' name="Gender"/ value=> 
    
</form>
    
</right>

</main>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  var inputF = document.getElementById("Gender");
    
  inputF.value = cityName;
    
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  <!-- document.getElementById(cityName).style.display = "block"; -->
  evt.currentTarget.className += " active";
}
</script>

<script>
var slider_d = document.getElementById("Depression");
var output_d = document.getElementById("Depression_Score");
output_d.innerHTML = slider_d.value;

slider_d.oninput = function() {
  output_d.innerHTML = this.value;
}
</script>
    
<script>
var slider_a = document.getElementById("Anxiety");
var output_a = document.getElementById("Anxiety_Score");
output_a.innerHTML = slider_a.value;

slider_a.oninput = function() {
  output_a.innerHTML = this.value;
}
</script>
    
<script>
var slider_s = document.getElementById("Stress");
var output_s = document.getElementById("Stress_Score");
output_s.innerHTML = slider_s.value;

slider_s.oninput = function() {
  output_s.innerHTML = this.value;
}
</script>
    
</body>
</html>